@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="background-image= Gar">
    <h1 class="display-4">Welcome To Trash Collector!</h1>
    <h3>Say Hello, to a more flexible way of picking up neighborhood trash.</h3>
    <img src="C:\Users\katel\OneDrive\Desktop\DevCodeCamp\Week7\TrashCollector\TrashCollection\TrashCollection\Images\Garbage_Truck_Oulu_20130711.jpg" />”></asp:Image>
</div>
